<div>
  <div>
    Products Info
  </div>
  <div>

      <table>
        <tr>
          <th> Product Id </th>
          <th> Product Name </th>
          <th> Image </th>
        </tr>
        <tr *ngFor="let item of (items | sortProducts)">
          <td>{{item.productId}}</td>
          <td>{{item.productName}}</td>
          <td><img width="50" height="100" src="{{item.imageUrl}}"/></td>
          <td><button [routerLink]="['/cart', item.productId]">Add to Cart</button></td>
        </tr>
      </table>

  </div>
</div>




